
<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
</head>
<body>
  <h2>Welcome, {{ user.name }}</h2>
  <p>Email: {{ user.email }}</p>

  <a href="/logout">Logout</a>
<br>

<a href="{{ url_for('daily_log_page') }}">LOG YOUR STATE HERE </a>
<BR>
<a href="{{ url_for('study_session_page') }}">TO START YOUR STUDY SESSION, CLICK HERE </a>


<h3>Total Study Time</h3>
<p>{{ total_study_hours | round(2) }} hours</p>




<h3>Last Logged State</h3>

{% if latest_state %}
    <p><strong>Date:</strong> {{ latest_state[0] }}</p>
    <p><strong>Sleep Hours:</strong> {{ latest_state[1] }}</p>
    <p><strong>Fatigue Level:</strong> {{ latest_state[2] }}</p>
{% else %}
    <p>No data logged yet.</p>
{% endif %}




<h3> LOG YOUR ASSIGNMENT DEADLINES USING GOOGLE CALENDAR HERE..</h3>
<form action="/sync_calendar" method="post">
<button type="submit"> click to sync with your google calendar </button>
</form>


<h2> UPCOMING DEADLINES</h2>
{% if assignments %}
    <ul>
        {% for title, deadline in assignments %}
            <li>
                {{ title }} — Deadline: {{ deadline }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No assignments found.</p>
{% endif %}

<!-- <form action="/predict_load" method="get">
    <button type="submit">Predict Cognitive Load</button>
</form> -->

<h2> cognitive load</h2>
<p> {{cognitive_load}}</p>

<h2> BASED ON YOUR COGNITIVE LOAD, HERE ARE A FEW SUGGESTIONS:</h2>
        <ul>
{% for line in suggestions.split('\n') %}
  {% if line.strip() %}
    <li>{{ line.replace('*', '').strip() }}</li>
  {% endif %}
{% endfor %}
</ul>
</body>
</html>
