<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
   <h2>  Cognitive Load manager (CLM) </h2>
   <br>
   <H3>welcome back!</H3>
   <br>
   <h3> To continue managing your cognitive load, sign in here </h3>
   <a href="/login">
    <button> Sign in with google</button>
   </a> 
</body>
</html>